<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076855017013-815cc800top9epp4nh85t5ok5splectb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076855017013-815cc800top9epp4nh85t5ok5splectb</string>
	<key>API_KEY</key>
	<string>AIzaSyDZwqh96dzbrUkjMQaXnuvMUj9eON6dxUc</string>
	<key>GCM_SENDER_ID</key>
	<string>1076855017013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haiphan.ListBoomHang</string>
	<key>PROJECT_ID</key>
	<string>listboomhang</string>
	<key>STORAGE_BUCKET</key>
	<string>listboomhang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076855017013:ios:fc82afc36594afdf17eb7c</string>
	<key>DATABASE_URL</key>
	<string>https://listboomhang.firebaseio.com</string>
</dict>
</plist>